<p id="notice"><%= notice %></p>

<p>
  <strong>Correo:</strong>
  <%= @cotiz_mes_exp.correo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @cotiz_mes_exp.nombre %>
</p>

<%= link_to 'Edit', edit_cotiz_mes_exp_path(@cotiz_mes_exp) %> |
<%= link_to 'Back', cotiz_mes_exps_path %>
