<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha de Cotización:</strong>
  <%= @cotiz_clo_mul.created_at %>
</p>

<p>
  <strong>Altura:</strong>
  <%= @cotiz_clo_mul.alturaCloMul %>
</p>

<p>
  <strong>Anchura:</strong>
  <%= @cotiz_clo_mul.anchuraCloMul %>
</p>

<p>
  <strong>Color:</strong>
  <%= @cotiz_clo_mul.colorCloMul %>
</p>

<p>
  <strong>Material:</strong>
  <%= @cotiz_clo_mul.materialCloMul %>
</p>

<p>
  <strong>Tipo de Manijas:</strong>
  <%= @cotiz_clo_mul.tipManijasCloMul %>
</p>

<p>
  <strong>Número de Repisas:</strong>
  <%= @cotiz_clo_mul.numRepisasCloMul %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @cotiz_clo_mul.cantidad %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @cotiz_clo_mul.correo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @cotiz_clo_mul.nombre %>
</p>

<%= link_to 'Edit', edit_cotiz_clo_mul_path(@cotiz_clo_mul) %> |
<%= link_to 'Back', cotiz_clo_muls_path %>
