<p id="notice"><%= notice %></p>

<p>
  <strong>Correo:</strong>
  <%= @cotiz_esc_cam.correo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @cotiz_esc_cam.nombre %>
</p>

<%= link_to 'Edit', edit_cotiz_esc_cam_path(@cotiz_esc_cam) %> |
<%= link_to 'Back', cotiz_esc_cams_path %>
