<p id="notice"><%= notice %></p>

<p>
  <strong>Correo:</strong>
  <%= @cotiz_mes_cam.correo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @cotiz_mes_cam.nombre %>
</p>

<%= link_to 'Edit', edit_cotiz_mes_cam_path(@cotiz_mes_cam) %> |
<%= link_to 'Back', cotiz_mes_cams_path %>
